<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @track.title %>
</p>

<p>
  <strong>Length in seconds:</strong>
  <%= @track.length_in_seconds %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @track.genre %>
</p>

<%= link_to 'Edit', edit_track_path(@track) %> |
<%= link_to 'Back', tracks_path %>
